@import "bootstrap/dist/css/bootstrap.min.css";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #092510; /* Opcional: un fondo suave */
}
.card {
    width: 350px;
    height: 450px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(223, 211, 211);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    margin: 0; /* Asegura que no haya márgenes */
}

.top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
}

.bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 30px;
    transform: rotate(180deg);
}

.heart {
    color: red;
}

.diamond {
    color: red;
}

.spade {
    color: black;
}

.club {
    color: black;
}